/* Padding below the footer and lighter body text */

body {
  position: relative;
  padding: {
    top: 5rem;
  }
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 300;
}

footer {
  background-color: #F8F9FA;
  padding: 4rem 2rem;
  svg {
    height: 20px;
    fill: $body-color;
    &:hover {
      fill: lighten($body-color, 5%);
    }
  }
  li {
    padding: .5rem;
  }
  ul {
    margin-bottom: 0;
  }
}