.experience {
    /*background: linear-gradient(180deg, $body-color 60%, lighten($body-color-secondary, 4%) 40%);*/
    background-color: $body-color;
    color: white;
}

.white-box {
    background-color: white;
    color: $body-color;
}

.nav-pills {
    display: none;
    @media (min-width: 768px) {
        display: flex;
        flex: 0 0 auto;
        width: 25%;
    }
    .nav-link {
        display: flex;
        flex: 1;
        border: none;
        border-radius: 0;
        color: $body-color;
        background-color: $body-color-secondary;
        font-size: 1.5rem;
        font-weight: 400;
        padding: 2rem;
        align-items: center;
        &:nth-child(-n+2) {
            border-bottom: 6px solid $body-color;
        }
        &:hover {
            background-color: darken($body-color-secondary, 5%);
            &:nth-child(-n+2) {
                border-bottom: 6px solid $body-color;
            }
        }
        &:focus {
            outline: none;
        }
    }
    .nav-link.active {
        color: $body-color;
        background-color: white;
        border-right: none;
        border-radius: 0;
    }
}

.tab-content {
    width: 100%;
    @media (min-width: 768px) {
        display: flex;
        width: 75%;
        flex: 0 0 auto;
    }
    h4 {
        font-weight: 600;
    }
    .tab-pane {
        @media only screen and (max-width: 767px) {
            display: block!important;
        }
    }
}

.tab-pane-left {
    width: 100%;
    @media (min-width: 992px) {
        flex: 0 0 auto;
        width: 65%;
    }
    img {
        width: 100%;   
    }
}

.tab-pane-right {
    margin-left: 0;
    margin-top: 2rem;
    flex: 0 0 auto;
    width: 100%;
    @media (min-width: 992px) {
        flex: 0 0 auto;
        width: 35%;
        margin-left: 2rem;
        margin-top: 0; 
    }
    p {
        font-size: .8rem;
        background-color: $body-color-secondary;
        display: inline-block;
        padding: .5rem 1rem;
        border-radius: 1.5rem;
        &:hover {
            background-color: darken($body-color-secondary, 5%);
        }
    }
}

.accordion-header {
    display: flex;
    @media (min-width: 768px) {
        display: none;
    }
}

.accordion-item:last-of-type .accordion-collapse {
    border-bottom: 6px solid $body-color;
    @media (min-width: 768px) {
        &:nth-child(-n+2) {
            border-bottom: 0;
        }
    }
}

.accordion-item:first-of-type .accordion-button {
    border-bottom: 6px solid $body-color;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    &:nth-child(-n+2) {
        border-bottom: 6px solid $body-color;
    }
} 

.collapse {
    &:not(.show) {
        display: none;
        @media (min-width: 768px) {
            display: flex;
        }
        @media (max-width: 991px) {
            flex-wrap: wrap;
        }
    }
}

.fade {
    &:not(.show) {
        opacity: 1;
        @media (min-width: 768px) {
            opacity: 0;
        }
    }
}

.bold {
    font-weight: 600;
}

.tab-icon {
    img {
        width: 80px;
    }
}