/* Style the row and containers */

.about {
  h3 {
    font-weight: 600;
  }

  img {
    padding: 0 2rem 2rem 0;
  }

  .bio {
    padding-right: 2rem;

    p {
      color: #869ab8
    }

    a {
      color: $body-color;
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  svg {
    margin-left: 1rem;
  }
}

.grid-left {
  .wrapper {
    padding: 6rem 0;
  }
}

.grid-right {
  background-color: #F9FBFD;

  .wrapper {
    padding: 6rem 0;
  }
}

/* Style the Fast facts list */

.about-list {
  list-style: none;
  padding-left: 0;
  font-size: .8rem;

  svg {
    width: 20px;
    height: 20px;
  }

  margin-bottom: 2rem;
}

.about-list-item {
  display: flex;
  padding: .2rem .6rem;

  &:hover {
    background-color: $body-color-secondary;
    border-radius: 4px;
    color: $body-color;
  }
}

.about-list-icon {
  margin-right: 0;
}

.about-list-name {
  padding: .6rem .5rem .5rem .5rem;
}

.hobbies {
  p {
    font-size: .8rem;
    background-color: $body-color-secondary;
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 1.5rem;

    &:hover {
      background-color: darken($body-color-secondary, 5%);
    }
  }
}

.about-list-container {
  background-color: #F9FBFD;
  padding: 3rem 3rem;
  border-radius: 6px;

  p {
    font-weight: 500;
    margin-bottom: 1rem;
  }
}

.download-resume {
  margin: 2rem;
  padding: .75rem 0;
  border-radius: 6px;
  border: 2px solid $body-color;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: $body-color-secondary;
    color: $body-color;
  }

  svg {
    margin-left: 1rem;
  }
}

.view-experience {
  margin-right: 2rem;
  padding: .75rem 0;
  border-radius: 6px;
  border: 2px solid $body-color;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $body-color-secondary;
    color: $body-color;
  }
}