.about-hero {
  background-color: $body-color;
  color: white;
}

#about {
  .row {
    flex-wrap: wrap-reverse;
  }
}

/* BEGIN Hero */

.grid-left-hero {
  background-color: $body-color;
  color: white;
  transform: skew(-9deg);
  z-index: 1;
  text-align: end;
  &::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    background: $body-color;
    top: 0;
    left: 0;
    transform: skew(9deg);
    z-index: -1;
  }
  .wrapper {
    padding: 6rem 0;
    margin: 0 2rem;
    transform: skew(9deg);
  }
}

.grid-right-hero {
  background-color: $body-color-secondary;
  transform: skew(-9deg);
  z-index: 1;
  &::after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    background: $body-color-secondary;
    top: 0;
    right: 0;
    transform: skew(9deg);
    z-index: -1;
  }
  .wrapper {
    padding: 6rem 0;
    transform: skew(9deg);
    margin: 0 2rem;
  }
  button {
    margin-left: 2rem;
  }
}

/* END Hero */

.grid-left {
  .wrapper {
    padding: 6rem 0;
  }
}

.grid-right {
  background-color: #F9FAFC;
  .wrapper {
    padding: 6rem 0;
  }
  a {
    color: #869ab8;
    &:hover {
      text-decoration: underline;
    }
  }
}

.about-list {
  list-style: none;
  padding-left: 0;
  svg {
    width: 25px;
    height: 25px;
  }
}

.about-list-item {
  display: flex;
  padding: .2rem .6rem;
  &:hover {
    background-color: $body-color-secondary;
    border-radius: 4px;
    color: $body-color;
  }
  a {
    &:hover {
      color: $body-color;
    }
  }
}

.about-list-icon {
  margin-right: 0;
}

.about-list-name {
  padding: .6rem .5rem .5rem .5rem;
}