.navbar {
  background-color: #F9FBFD;
}

.navbar-collapse {
  flex-direction: row-reverse;
}

.navbar-nav {
  align-items: center;
  .nav-item {
    border-radius: 5px;
    &:hover {
      background-color: $body-color-secondary;
    }
  }
  .nav-link {
    color: $body-color;
    padding: .5rem .8rem !important;
  }
  .nav-link:hover {
    color: $body-color;
  }
  .nav-link.active {
    border-radius: 5px;
    background-color: $body-color-secondary;
    color: $body-color;
  }
}

.nav-arrow {
  padding: 0 1rem;
}