.work {
  /*background: linear-gradient(180deg, $body-color 60%, lighten($body-color-secondary, 4%) 40%);*/
  h4 {
    font-size: 1.25rem;
    color: $body-color;
  }
  background-color: #F9FBFD;
  .box {
    width: 80%;
    min-height: 350px;
    padding: 3rem 2rem;
    background-color: white;
    border-radius: 8px;
    border-left: 10px solid #99DA98;
    p {
      color: #869AB8;
    }
    a {
      border-bottom: 4px solid $body-color;
      &:hover {
        color: $body-color;
      }
    }
  }
  img {
     border-radius: 8px;
     transition: all .65s;
     &:hover {
       transform: scale(1.05);
     }
  }
}

/* BEGIN Old Work Section

.work {
  background-color: #4B80C3;
  color: white;
}

.work-logos {
  svg {
    padding: 2rem;
    width: 100%;
    height: 125px;
    fill: white;
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  img {
    padding: 1rem;
    height: 100px;
  }
}

END Old Work Section */

/* Style icons for "This website was custom built" section */ 