.work-page {
  h2 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
  img {
    border-radius: 6px;
    filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.2));
    width: 90%;
  }
  .white-box {
    background-color: $body-color-secondary;
    border-radius: 6px;
    padding: 2rem;
  }
}
